# Exclude the build directory
build/*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store

# files created by Xcode 4
xcuserdata/

# build products
*.build/
build/
DerivedData/

# Misc
.svn